<a href="https://colab.research.google.com/github/ShivamAdmane/CodeTech-Data-Analysis/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Pyspark').getOrCreate()

In [4]:
spark

In [8]:
df = spark.read.csv('/content/Task-1Dataset.csv',header=True,inferSchema=True)

In [9]:
df.show(3)

+----+-----+--------------------+-------------+-----------+-----------+
|Rank|Grade|        Channel name|Video Uploads|Subscribers|Video views|
+----+-----+--------------------+-------------+-----------+-----------+
| 1st| A++ |              Zee TV|        82757|   18752951|20869786591|
| 2nd| A++ |            T-Series|        12661|   61196302|47548839843|
| 3rd| A++ |Cocomelon - Nurse...|          373|   19238251| 9793305082|
+----+-----+--------------------+-------------+-----------+-----------+
only showing top 3 rows

In [10]:
df.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Grade: string (nullable = true)
 |-- Channel name: string (nullable = true)
 |-- Video Uploads: string (nullable = true)
 |-- Subscribers: string (nullable = true)
 |-- Video views: long (nullable = true)

In [11]:
df.columns

['Rank',
 'Grade',
 'Channel name',
 'Video Uploads',
 'Subscribers',
 'Video views']

In [12]:
df.count()

5000

In [13]:
len(df.columns)

6

In [14]:
df.describe().show()

+-------+-------+-----+--------------------+-----------------+------------------+--------------------+
|summary|   Rank|Grade|        Channel name|    Video Uploads|       Subscribers|         Video views|
+-------+-------+-----+--------------------+-----------------+------------------+--------------------+
|  count|   5000| 5000|                5000|             5000|              5000|                5000|
|   mean|   NULL| NULL|                NULL|3859.463556267521|2620004.1344027747|     1.07144940015E9|
| stddev|   NULL| NULL|                NULL|17085.86649849457| 3926447.472197369|2.0038439721239917E9|
|    min|1,000th|   A |"Free Music ""Nas...|               --|               -- |                  75|
|    max|    9th|     |            흔한남매|              999|           9998464|         47548839843|
+-------+-------+-----+--------------------+-----------------+------------------+--------------------+

In [15]:
df.columns

['Rank',
 'Grade',
 'Channel name',
 'Video Uploads',
 'Subscribers',
 'Video views']

In [17]:
df.toPandas()['Channel name'].unique()

array(['Zee TV', 'T-Series', 'Cocomelon - Nursery Rhymes', ...,
       'Mastersaint', 'Bruce McIntosh', 'SehatAQUA'], dtype=object)

In [19]:
len(df.toPandas()['Grade'].unique())

6

In [20]:
df.show()

+----+-----+--------------------+-------------+-----------+-----------+
|Rank|Grade|        Channel name|Video Uploads|Subscribers|Video views|
+----+-----+--------------------+-------------+-----------+-----------+
| 1st| A++ |              Zee TV|        82757|   18752951|20869786591|
| 2nd| A++ |            T-Series|        12661|   61196302|47548839843|
| 3rd| A++ |Cocomelon - Nurse...|          373|   19238251| 9793305082|
| 4th| A++ |           SET India|        27323|   31180559|22675948293|
| 5th| A++ |                 WWE|        36756|   32852346|26273668433|
| 6th| A++ |          Movieclips|        30243|   17149705|16618094724|
| 7th| A++ |          netd müzik|         8500|   11373567|23898730764|
| 8th| A++ |ABS-CBN Entertain...|       100147|   12149206|17202609850|
| 9th| A++ |     Ryan ToysReview|         1140|   16082927|24518098041|
|10th| A++ |         Zee Marathi|        74607|    2841811| 2591830307|
|11th|  A+ |     5-Minute Crafts|         2085|   33492951| 8587520379|
|12th|  A+ |     Canal KondZilla|          822|   39409726|19291034467|
|13th|  A+ |    Like Nastya Vlog|          150|    7662886| 2540099931|
|14th|  A+ |               Ozuna|           50|   18824912| 8727783225|
|15th|  A+ |          Wave Music|        16119|   15899764|10989179147|
|16th|  A+ |         Ch3Thailand|        49239|   11569723| 9388600275|
|17th|  A+ |     WORLDSTARHIPHOP|         4778|   15830098|11102158475|
|18th|  A+ |     Vlad and Nikita|           53|        -- | 1428274554|
|19th|  A+ |             Badabun|         3060|   23603062| 5860444053|
|20th|  A+ |   WorkpointOfficial|        24287|   17687229|14022189654|
+----+-----+--------------------+-------------+-----------+-----------+
only showing top 20 rows

In [22]:
df.select('Grade').show()

+-----+
|Grade|
+-----+
| A++ |
| A++ |
| A++ |
| A++ |
| A++ |
| A++ |
| A++ |
| A++ |
| A++ |
| A++ |
|  A+ |
|  A+ |
|  A+ |
|  A+ |
|  A+ |
|  A+ |
|  A+ |
|  A+ |
|  A+ |
|  A+ |
+-----+
only showing top 20 rows

In [23]:
df.select(['Channel name','Subscribers']).show()

+--------------------+-----------+
|        Channel name|Subscribers|
+--------------------+-----------+
|              Zee TV|   18752951|
|            T-Series|   61196302|
|Cocomelon - Nurse...|   19238251|
|           SET India|   31180559|
|                 WWE|   32852346|
|          Movieclips|   17149705|
|          netd müzik|   11373567|
|ABS-CBN Entertain...|   12149206|
|     Ryan ToysReview|   16082927|
|         Zee Marathi|    2841811|
|     5-Minute Crafts|   33492951|
|     Canal KondZilla|   39409726|
|    Like Nastya Vlog|    7662886|
|               Ozuna|   18824912|
|          Wave Music|   15899764|
|         Ch3Thailand|   11569723|
|     WORLDSTARHIPHOP|   15830098|
|     Vlad and Nikita|        -- |
|             Badabun|   23603062|
|   WorkpointOfficial|   17687229|
+--------------------+-----------+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import mean

In [28]:
meanl =df.select (mean('Subscribers')).collect()

In [29]:
meanl[0][0]

2620004.1344027747

In [30]:
df.fillna(meanl[0][0]).show(8)

+----+-----+--------------------+-------------+-----------+-----------+
|Rank|Grade|        Channel name|Video Uploads|Subscribers|Video views|
+----+-----+--------------------+-------------+-----------+-----------+
| 1st| A++ |              Zee TV|        82757|   18752951|20869786591|
| 2nd| A++ |            T-Series|        12661|   61196302|47548839843|
| 3rd| A++ |Cocomelon - Nurse...|          373|   19238251| 9793305082|
| 4th| A++ |           SET India|        27323|   31180559|22675948293|
| 5th| A++ |                 WWE|        36756|   32852346|26273668433|
| 6th| A++ |          Movieclips|        30243|   17149705|16618094724|
| 7th| A++ |          netd müzik|         8500|   11373567|23898730764|
| 8th| A++ |ABS-CBN Entertain...|       100147|   12149206|17202609850|
+----+-----+--------------------+-------------+-----------+-----------+
only showing top 8 rows